<script setup lang="ts">
</script>

<template>
  <v-container>
    <v-card class="mx-auto" max-width="434" rounded="0">
      <v-img height="100%" cover src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg">
        <div style="margin-left: 30%;">
          <v-avatar color="grey" size="150" rounded="0">
            <v-img cover
              src="https://scontent.fbkk23-1.fna.fbcdn.net/v/t39.30808-6/269798624_4166323410135164_8712536327040983439_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHwYvLXTgFmwze_q2Vax4VA7-6kl-SBHljv7qSX5IEeWAsaCZnPfL6LG-esBtmq1nTLWpvQLGZGdOGywqQgDvNC&_nc_ohc=oEMLoQfKRPgAX8crYe1&_nc_ht=scontent.fbkk23-1.fna&oh=00_AfBwCHh8TxDi00XpFMKUhtMA9JGNGcSSvOG9SUCPH4YL_w&oe=63A1FFA2"></v-img>
          </v-avatar>
          <v-list-item class="text-white" title="63160009 ภาดล วงษ์ศิริ"
            subtitle="นักศึกษามหาวิทยาลัยบูรพา"></v-list-item>
        </div>
      </v-img>
    </v-card>

    <div style="margin-bottom: 48px;"></div>

    <v-divider></v-divider>

    <div style="margin-top: 48px;"></div>

    <v-parallax scale="10" dark height="150" src="https://wallpapercave.com/wp/wp7894838.jpg">
      <v-row align="center" justify="center">
        <v-col class="text-center" cols="12">
          <div style="margin-top: 50px; color: white;">
            <h1 class="text-h4 font-weight-thin mb-4">
              ประวัติการศึกษา
            </h1>
          </div>
        </v-col>
      </v-row>
    </v-parallax>
    <div style="margin-top: 48px;"></div>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="270" variant="outlined">
          <div style="margin-top: 8px; margin-left: 33px;">
            <v-avatar size="200">
              <v-img cover
                src="https://fastly.4sqi.net/img/general/600x600/7011230_OZBpXmJ3PFrQFPqREkxPYGqIzCwS1LHPi0X2YOmM_os.jpg"
                height="200px" draggable="false"></v-img>
            </v-avatar>
          </div>
          <v-card-item>
            <div class="text-center">
              <div class="text-h6 mb-1">
                โรงเรียนอนุบาลจุรีพันธ์
              </div>
              <div class="text-caption">อ.1 ถึง ป.6</div>
            </div>
          </v-card-item>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mx-auto" max-width="270" variant="outlined">
          <div style="margin-top: 8px; margin-left: 33px;">
            <v-avatar size="200">
              <v-img cover src="https://www.urrw.ac.th/wp-content/uploads/2022/08/IMG_4837-scaled.jpg" height="200px"
                draggable="false"></v-img>
            </v-avatar>
          </div>
          <v-card-item>
            <div class="text-center">
              <div class="text-h6 mb-1">
                โรงเรียนอุบลรัตนราชกัญญาราชวิทยาลัย นครราชสีมา
              </div>
              <div class="text-caption">ม.1 ถึง ม.3</div>
            </div>
          </v-card-item>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mx-auto" max-width="270" variant="outlined">
          <div style="margin-top: 8px; margin-left: 33px;">
            <v-avatar size="200">
              <v-img cover
                src="https://www.chulatutor.com/blog/wp-content/uploads/2020/04/exam-chonradsadornumrung-school-1024x678.jpg"
                height="200px" draggable="false"></v-img>
            </v-avatar>
          </div>
          <v-card-item>
            <div class="text-center">
              <div class="text-h6 mb-1">
                โรงเรียนชลราษฎรอํารุง
              </div>
              <div class="text-caption">ม.4 ถึง ม.6</div>
            </div>
          </v-card-item>
        </v-card>
      </v-col>
    </v-row>

    <div style="margin-bottom: 48px;"></div>

    <v-divider></v-divider>

    <div style="margin-top: 48px;"></div>

    <v-parallax scale="10" height="150" src="https://wallpapercave.com/wp/wp7728998.jpg">
      <v-row align="center" justify="center">
        <v-col class="text-center" cols="12">
          <div style="margin-top: 50px; color: white;">
            <h1 class="text-h4 font-weight-thin mb-4">
              <div style="color: black;">
                สิ่งที่สนใจ
              </div>
            </h1>
          </div>
        </v-col>
      </v-row>
    </v-parallax>

    <div style="margin-bottom: 48px;"></div>

    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="270" variant="outlined">
          <div style="margin-top: 8px; margin-left: 33px;">
            <v-avatar size="200">
              <v-img cover src="https://wallpaperaccess.com/full/255883.jpg" height="200px" draggable="false"></v-img>
            </v-avatar>
          </div>
          <v-card-item>
            <div class="text-center">
              <div class="text-h6 mb-1">
                แมว
              </div>
              <div class="text-caption">เป็นคนรักแมว บ้านเลี้ยงแมว 4 ตัว</div>
            </div>
          </v-card-item>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mx-auto" max-width="270" variant="outlined">
          <div style="margin-top: 8px; margin-left: 33px;">
            <v-avatar size="200">
              <v-img cover src="https://divedigital.id/en/wp-content/uploads/2022/08/3-Chisato-Excited.jpg"
                height="200px" draggable="false"></v-img>
            </v-avatar>
          </div>
          <v-card-item>
            <div class="text-center">
              <div class="text-h6 mb-1">
                อนิเมะ
              </div>
              <div class="text-caption">ชอบอนิเมะมาก การ์ตูนจากญี่ปุ่นดีที่สุดในโลก</div>
            </div>
          </v-card-item>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mx-auto" max-width="270" variant="outlined">
          <div style="margin-top: 8px; margin-left: 33px;">
            <v-avatar size="200">
              <v-img cover
                src="https://news.mit.edu/sites/default/files/styles/news_article__image_gallery/public/images/202110/Killian-Dome-Emily-Dahl_0.jpg?itok=CCEw2IUI"
                height="200px" draggable="false"></v-img>
            </v-avatar>
          </div>
          <v-card-item>
            <div class="text-center">
              <div class="text-h6 mb-1">
                เรียนต่อต่างประเทศ
              </div>
              <div class="text-caption">อยากที่จะหาโอกาสและประสบการณ์ เพื่อที่จะได้ทำงานต่อที่ต่างประเทศ</div>
            </div>
          </v-card-item>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<style>
.main-profile-name {
  font-size: xx-large;
  margin-bottom: 48px;
}
</style>