<script setup lang="ts">
import FrameworkPop from '@/components/FrameworkPop.vue';
import { computed, ref } from 'vue';
const frameList = ref([
  {
    name: "鈴原るる",
    img: "https://i.pinimg.com/736x/71/f8/34/71f834e1dad564d4474a0ae7faa6825c.jpg",
    rating: 24625
  },
  {
    name: "白",
    img: "https://i.pinimg.com/originals/09/09/c7/0909c7a08b974620536d5a6dcce4cd04.jpg",
    rating: 99999
  },
  {
    name: "錦木 千束",
    img: "https://www.hlj.com/productimages/azk/azk22032_0.jpg",
    rating: 72957
  },
]
);

function changeRating(index: number, rating: number) {
  console.log("action " + index + ": " + rating);
  frameList.value[index].rating = rating;
}

const orderList = computed(() => {
  return [...frameList.value].sort((n1,n2) => n2.rating - n1.rating);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="index">
        <FrameworkPop :name="item.name" :img="item.img" :rating="item.rating" :index="index" @change="changeRating">
        </FrameworkPop>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="10">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
