<script setup lang="ts">
import { ref } from 'vue';
const props = withDefaults(
  defineProps<{
    name: string;
    img: string;
    rating: number;
    index: number;
  }>(),
  {
    rating: 10,
  }
);

const emits = defineEmits<{
  (e: "change", index: number, rating: number): void;
}>();

const score = ref(props.rating);
function increase() {
  score.value++;
  emits("change", props.index, score.value);
}
function decrease() {
  score.value--;
  emits("change", props.index, score.value);
}
</script>
<template>
  <div>
    <v-card class="mx-auto" max-width="270" variant="outlined">
      <div style="margin-top: 8px;">
        <v-img :src="props.img" height="200px" draggable="false"></v-img>
      </div>
      <v-card-item>
        <div class="text-center">
          <div class="text-h6 mb-1">
            {{ props.name }}
          </div>
          <div class="text-caption">Score: {{ score }}</div>
        </div>
      </v-card-item>

      <v-card-actions class="justify-space-around">
        <v-btn variant="outlined" color="red-darken-3" @click="decrease">
          -
        </v-btn>
        <v-btn variant="outlined" color="green-darken-3" @click="increase">
          +
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>